body {
  margin: 0;
  padding: 40px 0;

}

.avatar-image {
  height: 128px;
  width: 128px;
  object-fit: cover;
  border-radius: 128px;
  border: 4px burlywood solid;
}

.link-thumbnail {
  object-fit: cover;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 2px burlywood solid;
}
